body{
    background-color: black;
    font-family: "Arimo", serif;
    font-size: 2rem;
}

#meme{
    border: 10px solid white;
    width: 400px;
    margin-top: 100px;
    
    margin-left: 30%;  
}

#funny{
    text-align: center;
    h2{
        text-transform: uppercase;
    }
    padding: 10px;
}

h2{
    color: white;
}

p{
    color: white;
    font-size: large;
}

img{
    width: 100%;
    height: auto;
    display: block;
}
